<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hellojni"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".StartActivity"
            android:label="@string/title_activity_start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_main"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar" >
        </activity>
        <activity
            android:name=".KeyboardActivity"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" >
        </activity>
        <activity
            android:name=".ResultActivity"
            android:label="@string/title_activity_result" >
        </activity>
        <activity android:name=".RegisterActivity" >
        </activity>
        <activity android:name=".LoginActivity" >
        </activity>
        <activity android:name=".RecordActivity" >
        </activity>
    </application>

</manifest>
